@font-face {
    font-family: face;
    src: url(fontes/Minecrafter.Reg.ttf);
}

html{
    margin: 0;
    padding: 0;
    background-image: url(img/mineLOgin.jpg);
    background-size: 100%;
    background-size: cover;

    font-family: face;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #52a535;
}

body{
    display: flex;
    justify-content: center;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #52a535;
    font-size: 15px;
    color: #52a535;
    margin: 2rem;

    font-family: face;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #52a535;
}

input:hover{
    border: solid 2px #52a535;
}

.container{
    text-align: center;
}   

.jogar{
    margin-top: 2rem;
    font-size: 1rem;
    font-family: face;
    color: white;
    padding: 0.5rem;
}
